@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.container {
  max-width: 1110px;
  margin: 0 auto;

  /* padding: 0 15px;*/
}

:root {
  --fs-normal: 14px;
  --fs-exsm: 12px;
  --fs-h1: 48px;
  --fs-h2: 36px;
  --fs-h3: 24px;
  --fs-h4: 21px;
  --fs-h5: 18px;
  --fs-h6: 16px;
  --accent: #f13c6e;
  --black: #000;
  --whight: #fff;
  --dark-grey: #333;
  --grey: #828282;
  --light-grey: #efefef;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white, #fff);
}
.header-top-nav {
  background-color: var(--light-grey, #efefef);
  padding: 17px 0;
}
.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav a {
  display: inline-block;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 300ms easy-in-out;
}
.header-top-nav a {
  color: var(--dark, #333);
  font-size: 14px;
}
.header-top-nav li:last-child {
  margin-right: 0;
}
.header-top-nav li {
  margin-right: 30px;
}
.header-info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header-info {
  border-bottom: 1px solid var(--light-grey, #efefef);
}
.header-info a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 80px;
  margin-right: 20px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.logo-name p {
  color: var(--accent, #f13c6e);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.phone {
  display: flex;
  align-items: center;
}
.phone a {
  text-decoration: none;
  color: var(--black, #000);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
.phone button {
  border-radius: 40px;
  border: 2px solid var(--accent, #f13c6e);
  background: var(--white, #fff);
  color: var(--black, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 27px;
  width: 170px;
  margin-left: 40px;
  cursor: pointer;
}
.phone button:hover {
  background-color: var(--light-grey, #efefef);
}
.header-bottom-nav {
  padding: 30px 0;
}
.header-bottom-nav li {
  margin-right: 40px;
}
.header-bottom-nav a {
  color: var(--black, #000);
  font-size: 16px;
}
.header-bottom-nav li:last-child {
  margin-right: 0;
}
.header-nav a:hover {
  color: var(--accent, #f13c6e);
}
.top-info {
  background-image: url("../images/Rectangle2.png");
  background-position: center;
  background-size: cover;
  padding: 193px 0;
}
.title h1 {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
}
.top-info-title p {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 50px;
  width: 27%;
}
.top-info-button button {
  width: 170px;
  border-radius: 40px;
  border: 2px solid var(--white, #fff);
  background: var(--accent, #f13c6e);
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding: 13px 0;
  margin-top: 30px;
}
.offers {
  background: var(--light-gray, #efefef);
  padding: 80px 0;
}
.product-container {
  display: flex;
  justify-content: space-between;
}
.product-item {
  width: 255px;
  background: var(--white, #fff);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-img {
  width: 125px;
  display: inline-block;
}
.item-title p {
  color: var(--dark-grey, #333);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
.item-price p {
  color: var(--black, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1.05px;
  margin: 20px 0;
}
.item-button button {
  width: 130px;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  border: 1px solid var(--accent, #f13c6e);
  background: var(--accent, #f13c6e);
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding: 9px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.item-button button:hover {
  color: var(--accent, #f13c6e);
  background: var(--white, #fff);
}
.title h2 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}
.offers-title {
  margin-bottom: 38px;
}
